.Portforlio {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  h1 {
    border: 2px solid gray;
    font-weight: 900;
    height: 13vh;
    width: 70%;
    margin: auto;
    text-align: center;
    font-size: 60px;
  }

  .frontend {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 90%;
    margin: auto;

    .a-a-a {
      display: flex;
      flex-direction: row;
      height: 50%;
      width: 100%;
      justify-content: space-between;
      .portfolio-filling {
        width: 30%;
        height: 100%;
        button {
          width: 30%;
          height: 3vh;
          background-color: red;
          color: white;
          font-weight: 900;
          cursor: pointer;
          border: none;
        }

        .upper-image {
          height: 50%;
          width: 100%;

          img {
            height: 100%;
            width: 100%;
          }
        }

        .upper-det {
          height: 38%;
          width: 100%;
          p {
            height: 100%;
            width: 99.1%;
            font-weight: 800;
            font-size: 12px;
          }
        }
      }
    }

    .b-b-b {
      display: flex;
      flex-direction: row;
      height: 50%;
      width: 100%;
      justify-content: space-between;
      .portfolio-filling {
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
        button {
          width: 30%;
          height: 3vh;
          background-color: red;
          color: white;
          font-weight: 900;
          cursor: pointer;
          border: none;
        }
        .upper-image {
          height: 50%;
          width: 100%;

          img {
            height: 100%;
            width: 100%;
          }
        }

        .upper-det {
          height: 30%;
          height: 50%;
          width: 100%;
          p {
            height: 100%;
            width: 100%;
            font-weight: 800;
            font-size: 12px;
          }
        }
      }
    }
  }
}
